{# set dirty three space indent to match eos :( #}
{% from "macros.j2" import
   bgp_ipv4_neighbors,
   bgp_ipv4_neighbors_activate,
   bgp_ipv4_networks %}
router bgp {{ bgp_local_asn }}
   router-id {{ router_id }}
   maximum-paths {{ bgp_max_paths_ibgp }}
{{ bgp_ipv4_neighbors(bgp_ipv4) }}
   address-family ipv4
{{ bgp_ipv4_neighbors_activate(bgp_ipv4) -}}
{{ bgp_ipv4_networks(bgp_ipv4) -}}